nav {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.1);
  display: flex;
  justify-content: center;
  background-color: var(--Very-Light-Gray);
  z-index: 10;

  .nav-container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80px;
    color: var(--Very-Dark-Blue);

    h1 {
      font-weight: 800;
    }

    span {
      font-weight: 800;
    }

  }
}






